[submodule "unordered_dense"]
	path = subprojects/unordered_dense
	url = https://github.com/sebastianstricker/unordered_dense.git
	branch = meson_subproject
[submodule "libqpbo"]
	path = subprojects/libqpbo
	url = https://github.com/sebastianstricker/libqpbo
[submodule "libmpopt"]
	path = subprojects/libmpopt
	url = https://github.com/vislearn/libmpopt.git
	branch = qap_sublib
[submodule "subprojects/scipy_lsap"]
	path = subprojects/scipy_lsap
	url = https://github.com/sebastianstricker/scipy_lsap.git
[submodule "subprojects/unordered_dense"]
	url = https://github.com/muffinthedude/unordered_dense.git
