subprojects/CLI11*/
subprojects/nlohmann_json*/
subprojects/spdlog*/
subprojects/pybind11*/
subprojects/libmpopt*/
subprojects/libqpbo*/
subprojects/scipy_lsap*/
subprojects/unordered_dense*/

packagecache/
dist/

.vscode

__pycache__/
doc/build/